.app-link {
    text-decoration: none;
    color: inherit;
  }
  
  .app-icon {
    width: 100px;
    height: 100px;
    background-color: #f8f9fa; /* Light background color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 0 auto; /* Center the icon */
  }
  
  .app-icon img {
    max-width: 70%; /* Adjust icon size */
    max-height: 70%;
  }
  
  .app-label {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Ensure the content takes full height of viewport */
html, body {
    height: 100%;
    margin: 0;
  }
  
  //footer position
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1; 
    padding: 20px; 
  }
  
  .footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  