.app-link {
    text-decoration: none;
    color: inherit;
  }
  
  .app-icon {
    width: 100px;
    height: 100px;
    background-color: #f8f9fa; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
  }
  
  .app-icon img {
    
    object-fit:fill;
  }
  
  .app-label {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Ensure the content takes full height of viewport */
html, body {
    height: 100%;
    margin: 0;
  }
  
  //footer position
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1; 
    padding: 20px; 
  }
  
  .footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .app-icon {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .app-icon i {
    color: palegoldenrod;
    transition: color 0.3s ease;
  }
  
  .app-link:hover .app-icon i {
    color: beige;
  }